.productDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.outerStar {
    position: relative;
    display: inline-block;

    ::before {
        color: #ccc;
    }
}

.innerStar {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;

    ::before {
        color: #f8ce0b;
    }
}